---
- name: Update Cache & Patch Host
  ansible.builtin.apt:
    name: "*"
    state: latest
    update_cache: true
  tags: 
    - always

- name: Update Cache & Install Baseline Tools
  ansible.builtin.apt:
    name:
      - vim
      - tree
      - curl
      - tcpdump
      - ethtool
      - qemu-guest-agent
    state: present
    update_cache: true
  tags:
    - install_base
    - never

- name: Install Elastic dependencies
  when: 
   - ansible_facts['os_family'] == "Debian"
   - inventory_hostname in groups["elasticsearch"]
  block: 
    - name: Install gpg
      ansible.builtin.apt: 
        name: gpg
        state: present
      tags:
        - install_gpg
      
    - name: Install nfs-kernel-server
      ansible.builtin.apt: 
        name: nfs-kernel-server
        state: present
      tags:
        - install_nks
  tags:
    - elastic
    - never

# ===== Docker ===== #
- name: Install docker
  when: ansible_facts['os_family'] == "Debian"
  ansible.builtin.include_tasks: docker_deb.yml
  tags:
    - install_docker
    - never

# ===== Kubernetes ===== #
- name: Install kubectl
  when: ansible_facts['os_family'] == "Debian"
  ansible.builtin.include_tasks: kubectl_deb.yml
  tags:
    - install_kubectl
    - never