# ========== Ansible ========== #
archive/*
certificates/
playbooks/certificates/

vault_pass.txt

# ===== Packages ===== #
packages/*.deb
packages/*.rpm
packages/*.tar.gz
packages/*.zip
packages/!.gitkeep