---
- name: Ensure Ansible controller is configured for community.proxmox
  when: setup_ansible is true
  block: 
    - name: Install Proxmox Collection
      ansible.builtin.command: ansible-galaxy collection install community.proxmox
      register: ansible_proxmox
      failed_when: ansible_proxmox.rc != 0
    
    - name: Install dependencies
      become: true
      ansible.builtin.apt:
        name: 
          - python3-proxmoxer
          - python3-requests
        state: present
        update_cache: true
  tags:
    - cfg_ansible_for_pve
    - never

- name: Ping Proxmox Hosts to ensure a connection can be made
  #when: connectivity_check is true
  ansible.builtin.include_tasks: pve_connectivity.yml
  tags:
    - pve_connectivity
    - never

- name: Change state of designated VMs
  when: pve_vm_state is defined and pve_vm_state is not none
  ansible.builtin.include_tasks: vm_state.yml
  tags:
    - pve_state_vms

- name: Clone VMs
  block: 
    - name: Preflight checks and clone plan
      ansible.builtin.import_tasks: vm_clone_preflight.yml
    
    - name: Clone designated VMs
      ansible.builtin.include_tasks: vm_clone.yml
  tags:
    - pve_clone_vms
