---
- name: Ensure Ansible controller is configured for community.proxmox
  when: (setup_ansible | default(false) | bool)
  block:
    - name: Install Proxmox Collection
      ansible.builtin.command: ansible-galaxy collection install community.proxmox
      register: ansible_proxmox
      failed_when: ansible_proxmox.rc != 0

    - name: Install dependencies
      become: true
      ansible.builtin.apt:
        name:
          - python3-proxmoxer
          - python3-requests
        state: present
        update_cache: true
  tags:
    - cfg_ansible_for_pve
    - never

- name: Ping Proxmox Hosts to ensure a connection can be made
  ansible.builtin.include_tasks: pve_connectivity.yml
  tags:
    - pve_connectivity
    - never

- name: Change state of designated VMs
  when: pve_vm_state is defined and pve_vm_state is not none
  ansible.builtin.include_tasks: vm_state.yml
  tags:
    - pve_state_vms

- name: Create VMs from scratch
  when: (pve_create_enabled | default(false) | bool)
  block:
    - name: Preflight checks and create plan
      ansible.builtin.import_tasks: vm_create_preflight.yml

    - name: Create designated VMs
      ansible.builtin.include_tasks: vm_create.yml
  tags:
    - pve_create_vms

# These are ultimately untested!
#- name: Clone VMs
#  when: (pve_clone_enabled | default(true) | bool)
#  block:
#    - name: Preflight checks and clone plan
#      ansible.builtin.import_tasks: vm_clone_preflight.yml
#
#    - name: Clone designated VMs
#      ansible.builtin.include_tasks: vm_clone_nontemplate.yml
#  tags:
#    - pve_clone_vms
#
#- name: Clone VMs
#  when: (pve_clone_enabled | default(true) | bool)
#  block:
#    - name: Preflight checks and clone plan
#      ansible.builtin.import_tasks: vm_clone_preflight.yml
#
#    - name: Clone designated VMs
#      ansible.builtin.include_tasks: vm_clone_template.yml
#  tags:
#    - pve_clone_vms