---
- name: Change state of specified VMs
  delegate_to: localhost
  community.proxmox.proxmox_kvm:
    api_host: "{{ pve_api_host }}"
    api_port: "{{ pve_api_port | default(8006) }}"
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_token_name }}"
    api_token_secret: "{{ pve_api_token_secret }}"
    validate_certs: "{{ pve_validate_certs | default(false) }}"
    vmid: "{{ item | int }}"
    state: "{{ pve_vm_state }}"
    timeout: "{{ pve_timeout | default(300) }}"
  loop: "{{ pve_vmids | default([]) }}"
  when: (pve_vmids | default([])) | length > 0
