---
- name: Change state of designated VMs
  when: pve_vm_state is defined and pve_vm_state is not none
  ansible.builtin.include_tasks: vm_state.yml
  tags:
    - pve_state_vms

- name: Create VMs from scratch
  when: (pve_create_enabled | default(false) | bool)
  block:
    - name: Preflight checks and create plan
      ansible.builtin.import_tasks: vm_create_preflight.yml

    - name: Create designated VMs
      ansible.builtin.include_tasks: vm_create.yml
  tags:
    - pve_create_vms

# These are ultimately untested!
#- name: Clone VMs
#  when: (pve_clone_enabled | default(true) | bool)
#  block:
#    - name: Preflight checks and clone plan
#      ansible.builtin.import_tasks: vm_clone_preflight.yml
#
#    - name: Clone designated VMs
#      ansible.builtin.include_tasks: vm_clone_nontemplate.yml
#  tags:
#    - pve_clone_vms
#
#- name: Clone VMs
#  when: (pve_clone_enabled | default(true) | bool)
#  block:
#    - name: Preflight checks and clone plan
#      ansible.builtin.import_tasks: vm_clone_preflight.yml
#
#    - name: Clone designated VMs
#      ansible.builtin.include_tasks: vm_clone_template.yml
#  tags:
#    - pve_clone_vms