---
- name: Ensure Ansible controller is configured for community.proxmox
  when: (setup_ansible | default(false) | bool)
  block:
    - name: Install Proxmox Collection
      ansible.builtin.command: ansible-galaxy collection install community.proxmox
      register: ansible_proxmox
      failed_when: ansible_proxmox.rc != 0

    - name: Install dependencies
      become: true
      ansible.builtin.apt:
        name:
          - python3-proxmoxer
          - python3-requests
        state: present
        update_cache: true
  tags:
    - cfg_ansible_for_pve
    - never

- name: Ping Proxmox Hosts to ensure a connection can be made
  ansible.builtin.include_tasks: pve_connectivity.yml
  tags:
    - pve_connectivity
    - never